/* src/styles/themes/_variables.scss */
$light-background: #ffffff;
$dark-background: #121212;
$primary-color: #ff5722;
$secondary-color: #03a9f4;

$shadow-light: 0px 4px 8px rgba(0, 0, 0, 0.1);
$shadow-dark: 0px 4px 8px rgba(255, 255, 255, 0.1);
