/* src/components/ContactUs/ContactUs.scss */
.contactus-container {
    padding: 20px;
  
    .contactus-form {
      max-width: 600px;
      margin: auto;
    }
  
    button {
      margin-top: 20px;
    }
  }
  