/* src/components/Pooja/PoojaForm.scss */
.pooja-form-container {
    padding: 20px;
  
    .pooja-form {
      max-width: 600px;
      margin: auto;
    }
  
    button {
      margin-top: 20px;
    }
  }
  